/* Basic colors used
Light: #F2D7D5,#D2B4DE,#85C1E9,#7ed56f,#F7DC6F,#F8C471,#EAECEE,#FDFEFE 
Medium: #CD6155,#8E44AD,#3498DB,#55c57a,#F4D03F,#F5B041,#D0D3D4,#E5E8E8
Dark: #C0392B,#7D3C98,#2874A6,#28b485,#F1C40F,#F39C12,#616A6B,#17202A 
*/

*,*:before,*:after
{
    /*Here dimensions includes padding and border but not the margin as a framework*/
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

html,body
{
    margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	color: #222;
}

a
{
	text-decoration: none;
	color:#555;
}


/* HEADINGS */

h1,h2,h3,h4,h5,h6
{
	color:#333;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size:2.7em;
}

h3
{
	font-size: 2.4em;
}

h4
{
	font-size: 2em;
}

h5
{
	font-size: 1.4em;
}

h6
{
	font-size: 1em;
}


/* GRID */

.full 
{
	width: 100%;
}

.four-fifth
{
	width: 80%;
}

.two-third{
	width: 66.66%;
}

.three-fifth
{
	width: 60%;
}

.half
{
	width: 50%;
}

.two-fifth
{
	width: 40%;
}

.third
{
	width: 33.33%;
}

.quarter
{
	width: 25%;
}


/* ALIGNMENT */

.center-text
{
	text-align: center;
}

.right-text
{
	text-align: right;
}

.left-text
{
	text-align: left;
}

.center
{
	margin: 0 auto;
}
